@import '~antd/dist/antd.css';

header{
  background:#d43c33;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:64px;
  width:100%;
}
.topsvg{
  width:142px;
  height:25px;
  margin-left:10px;
}
.downloadButton{
  font-size:15px;
  line-height:30px;
  height:30px;
  color:#fff;
  background:#d43c33;
  border:0.5px solid #fff;
  border-radius:20px;
  padding:0 10px;
  margin-right:10px;
}
a:focus{
  color:#fff;
}

