@import '~antd/dist/antd.css';
/* header  */
header{
  background:#d43c33;
  display:flex;
  justify-content:space-between;
  align-items:center;
  height:64px;
  width:100%;
}
.topsvg{
  width:142px;
  height:25px;
  margin-left:10px;
}
.downloadButton{
  font-size:15px;
  line-height:30px;
  height:30px;
  color:#fff;
  background:#d43c33;
  border:0.5px solid #fff;
  border-radius:20px;
  padding:0 10px;
  margin-right:10px;
}
a:focus{
  color:#fff;
}

/*  nav  */
.nav{
  display:flex;
  justify-content:space-around;
  align-items: center;
  list-style: none;
  height:40px;
  border-bottom:0.1px solid rgb(185, 185, 185);
}
.nav > li{
  color:#333;
  font-size:15px;
  padding:0 7px;
}
li:nth-child(1){
  color:#d33a31;
  position:relative;
}
li:nth-child(1)::after{
  content:'';
  position:absolute;
  width:100%;
  border:1px solid #d33a31;
  bottom:-9px;;
  left:0;
}

